// Colors
$base-bg: #ffffff;
$body-color: #000000;
$base-text: $body-color;
$secondary-color: #464646;
$tertiary-color: #d8d8d8;
$quaternary-color: #777575;
$theme-red: #c73434;
$theme-gray: #c5c1c1;
$base-transparent: rgba(17, 26, 39, .7);
$overlay: rgba(255, 255, 255, .28);

// Color extend 
%whiteColor{
    color: $base-bg;
}

%whiteBackground{
    background-color: $base-bg;
}

%baseTextColor{
    color: $base-text;
}

%baseTextBgColor{
    background-color: $base-text;
}

%baseGrayColor{
    color: $tertiary-color;
}

%body-color{
    color: $body-color;
}

.theme-red{
    color: $theme-red !important;
}

// Card color
.card-link{
    @extend %body-color;
}

// Sidebar
.sidebar-list{
    li{
        a{
            @extend %body-color;
        }
    }
}

.main-header{
    .navbar{
        .dropdown-menu{
            text-align: right;
            li{
                a{
                    @extend %body-color;
                }
            }
        }
        .nav-link{
            @include media-breakpoint-down(md){
                padding-right: 20px;
                position: relative;
            }
        }
    }
}


// Nav mobi
.main-header{
    .navbar{
        .nav-link{
            @extend %body-color;
        }
    }
}

// Project page style 
.project-link-wrp{
    li{
        a{
            @extend %body-color;
        }
    }
}

.project-wrap{
    .project-item{
        @extend %body-color;
    }
}

.card-wrap{
    a{
        color: $body-color;
    }
    p{
        color: $secondary-color;   
    }
}

.direction-wrap{
    a{
        color: $body-color;
    }
}



// Footer 
.copy-right{
    p{
        color: $quaternary-color;
    }
}


