// roboto font face
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

$default-font-stack: (
    Roboto, 
    -apple-system, BlinkMacSystemFont, 
    "Segoe UI", 
    "Helvetica Neue", 
    Arial, 
    sans-serif, 
    "Apple Color Emoji", 
    "Segoe UI Emoji", 
    "Segoe UI Symbol",
);

// fonts
$regularFontWeight: 400;
$boldFontWeight: 700;

$d-font-size: 14px;
$d-line-height: 19px;
$d-font-weight: $regularFontWeight;
$d-font-family: $default-font-stack;
$nav-font-size: $d-font-size + 4;
$nav-line-height: $d-line-height + 2;
$nav-letterspacing: 1.6px;
$subnav-font-size: $d-font-size + 2;
$subnav-line-height: $subnav-font-size + 6;

body{
    font-size: $d-font-size;
    line-height: $d-line-height;
    font-family: $d-font-family; 
    font-weight: $d-font-weight;   
    -webkit-text-size-adjust: 100%; 
    -moz-text-size-adjust:100%; 
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased; 
}

a{
    outline: none;
    &:focus{
        outline: none;
    }
}

// Heading fonts
h2{
    @include fonts($d-font-size * 2.5 , $d-line-height * 1.952380952380952, 700, 0.84px);
}

h3{
    @include fonts($d-font-size + 10 , $d-line-height + 11, 700, 0.58px);
}

h4{
    @include fonts($d-font-size + 6 , $d-line-height + 3, 700, 0.5px);
}

.strong{font-weight: 700;}

// lead text
.lead-text{
    @include fonts(16px, $d-line-height + 2);
}

// Nav font 
.main-header{
    .navbar{
        .dropdown-menu{
            text-align: right;
            li{
                a{
                    @include fonts($d-font-size, $d-line-height);
                }
            }
        }
        .nav-link{
            @include media-breakpoint-down(md){
                @include fonts($d-font-size +6 , $d-line-height + 3, 700, 1.18px);
            }
        }
    }
}


// Card 
.card-link{
    @include fonts($d-font-size - 1, $d-line-height -4, 700);
}

// Sidebar
#sidebar-container{
    .sidebar-list{
        li{
            a{
                @include fonts($nav-font-size, $nav-line-height, 700);
            }
        }
    }
}


// Project page style 
.project-link-wrp{
    li{
        a{
            font-size: $d-font-size + 1;
            letter-spacing: 0.36px;
            &::after{
                font-weight: 700;
            }
        }
        &.active{
            a{
                font-weight: 700;
            }
        }
    }
}


.project-wrap{
    padding: 20px 35px;
    .project-item{
        address{
            @include fonts($d-font-size + 1, $d-font-size + 1, 400, 0.36px, "roboto");
        }
        @include media-breakpoint-down(sm){
            h3{
                font-size: $d-font-size + 3;
                line-height: $d-line-height - 1;
            }
            address{
                font-size: $d-font-size - 2;
                line-height: $d-font-size;
            }
        }
    }
}

// Footer 
.copy-right{
    p{
        font-size: $d-font-size - 3;
        line-height: $d-font-size - 1;
    }
}