.home-content{
    padding-bottom: 65px;
    @include media-breakpoint-up(lg){
        margin-top: 100vh;
    }
}
.card-container{
    @include media-breakpoint-up(md){
        padding: 0 35px;
    }
    @include media-breakpoint-down(md){
        padding: 0 25px;
    }
    @include media-breakpoint-only(xl){
        max-width: 1250px;
    }
}
.card-wrap{
    margin-top: 48px;
    @include media-breakpoint-down(sm){
        margin-top: 22px;
    }
    .card{
        border: 0;
        border-radius: 0;
        max-width: 100%;
        img{
            border-radius: 0;
            max-width: 100%;
            @include transition($duration: .5s);
        }
        .figure-wrap{
            overflow: hidden;
        }
        .card-body{
            padding: 35px 28px 25px 0;
            @include media-breakpoint-down(sm){
                padding-bottom: 2px;
                padding-top: 22px;
            }
            h4{
                margin-bottom: 11px;
                max-width: 235px;
                span{
                    background-image: -webkit-linear-gradient(currentColor,currentColor);
                    -moz-background-image: linear-gradient(currentColor,currentColor);
                    background-image: linear-gradient(currentColor,currentColor);
                    background-position: 0 100%;
                    background-repeat: no-repeat;
                    background-size: 0 2px;
                    @include transition($property: background-size, $duration: 1s);
                }
            }
            p{
                margin-bottom: 0;
            }
            .card-link{
                position: relative;
                z-index: 1;
                &::after{
                    @include sudoElement(7px, 15px, transparent, relative, ">");
                    margin-left: 8px;
                }
            }
        }
        &:hover{
            text-decoration: none;
            img{
                @include transform(scale(1.04));
            }
            h4{
                span{
                    background-size: 100% 2px;
                    text-decoration: none;
                }
            }
        }
    }
}