.studio-leadership-contents{
    padding-bottom: 31px;
    .project-description{
        > {
            strong{margin-bottom: 11px;}
        }
        ul{
            padding-top: 0;
            li{
                strong{
                    width: 109px;
                }
                &:last-child{
                    margin-top: 15px;
                }
            }
        }

        
    }
}

.project-item-section{
    @include media-breakpoint-down(sm){
        padding-right: 0;
        padding-left: 0;
        .title-wrap{
            padding: 0 20px;
        }
    }
}

